.page {
    background-color: #2a2c2f;
    color: #ffffff;
    font-family: 'inter';   
    font-weight: 400;
    margin: 0 auto;
    max-width: 1280px;
}

@media screen and (max-width:1152px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width:896px){
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width:544px){
    .page {
        max-width: 320px;
    }
}
