.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    max-width: 1184px;
    margin: 92px auto 0;
    padding: 0 48px;
}

@media screen and (max-width:1152px) {
    .photo-grid {
        grid-gap: 14px;
    }
}

@media screen and (max-width:896px){
    .photo-grid {
        max-width: 720px;
        padding: 0 24px;
        margin-top: 88px;
    }
}

@media screen and (max-width:544px){
    .photo-grid {
        grid-gap: 12px;
        padding: 0 16px;
        margin-top: 64px;
    }
}