.place__title {
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    font-weight: 900;
    max-width: 460px;
}

@media screen and (max-width:1152px) {
    .place__title  {
        max-width: 440px;
    }
}

@media screen and (max-width:896px){
    .place__title  {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
    }
}

@media screen and (max-width:544px){
    .place__title  {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        padding-left: 16px;
        padding-right: 16px;
    }
}