.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 64px auto;
}

@media screen and (max-width:1152px) {
    .lead__subtitle {
       margin-bottom: 56px;
    }
}

@media screen and (max-width:700px){
    .lead__subtitle {
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:544px){
    .lead__subtitle {
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 40px;
        margin-top: 16px;
    }
}
