.lead__caption {
    padding-top: 8px;
    margin: 0;
    letter-spacing: 1.5px;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
}

@media screen and (max-width:896px){
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width:544px){
    .lead__caption {
        padding-left: 16px;
    }
}
