.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 92px;
    margin-bottom: 24px;
    max-width: 1184px;
}

@media screen and (max-width:1152px) {
    .footer  {
        max-width: 928px;
    }
}

@media screen and (max-width:896px){
    .footer {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width:544px){
    .footer {
        margin-top: 64px;
        padding-left: 16px;
        padding-right: 118px;
        flex-direction: column;
    }
}

