.intro__title {
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  @media screen and (min-width: 768px) {
    .intro__title {
      font-size: 54px;
      line-height: 58px;
    }
  }
  